body {    width:100%; height:100%; background-color:#ff0000; }
hl {   margin-top:25%; width:100%; height:50%; background-color:#00ff00;}
Button {    margin-right:5%; width:20%; height:20%; background-color:#0000ff; color:#00ff00;}