body 
{ 
    width:100%; 
    height:100%; 
    background-color:#AED581; 
} 

vl 
{
    width:100%; 
    height:100%; 
     background-color:#7CB342; 
    /*background-image:url(Image\black_background.jpg);*/ 
} 

hl {
	width: 100%;
	height: 100%;
    background-color:#ff0000;

}


Button 
{ 
    width:75%; 
    height:6%; 
    background-color:#1B5E20; 
    color:#F2E9F6;
    margin-top:2%;
    margin-left:13%;
     text-align: center;
}
CssButton
{ 
    width:50%; 
    height:10%; 
    background-color:#E91E63; 
    color:#c6e2ff;
    margin-top:2%;
    margin-left:25%;
     text-align: center;
}

ChangeCssButton
{ 
    width:25%; 
    height:10%; 
    background-color:#4013AF; 
    color:#ffe1ff;
    margin-top:2%;
     margin-left:37%;
     text-align: center;
}

CheckBox {
	width: 50%;
	height: 10%;
    margin-top:2%;   
     margin-left:25%;
}

CssCheckBox {
	width: 50%;
	height: 10%;
    margin-top:2%;   
     margin-left:50%;
}

HorizontalLine {
    margin-top:2%;  
  height: 10px;
	width: 100%;
	background-color: #3f8764;
}

CssHorizontalLine{
       margin-top:2%;
  height: 20px;
	width: 100%;
	background-color: #9f0303;

}

TextView {
	width: 100%;
	height: 5mm;
	color: #000;
	background-color: #eee;
	font-size: 80%;
	padding-top: 10%;
    margin-top:2%;  
    text-align: center;
}
CssTextView {
	width: 100%;
	height: 6mm;
	color: #eee;
	background-color: #a4ae08;
     border-style: solid;
	font-size: 80%;
	padding-top: 10%;
    margin-top:2%;  
    text-align: center;
}

CssVerticalLayout{
    width: 50%;
    height: 20%;
    margin-top: 10%;
   background-color:#2c3fc7; 
   background-image:url(Image\cats.jpg);
}

HorizontalLayout {
	width: 25%;
	height: 10%;
    margin-top: 10%;
    background-color:#ff0000;

}

CssHorizontalLayout{
    width: 100%;
    height: 18%;
    margin-top: 10%;
   background-color:#2c3fc7; 
}

Image {
    width: 50%;
	height: 0%;
		margin-left: 10%;
		margin-top: 10%;
		margin-right: 10%;
		margin-bottom: 10%;
	}

CssImage {
    width: 100%;
	height: 0%;
		margin-left: 20%;
		margin-top: 20%;
		margin-right: 20%;
		margin-bottom: 20%;
	}

EditText {
	width: 100%;
	height: 5mm;
        margin-top:2%;
	color: #09f;
	background-color: #eee;
	font-size: 80%;
	padding-top: 10%;
	placeholder-color: #8b7765;
}

CssEditText {
    
    width: 100%;
	height: 5mm;
     margin-top:2%;
	color: #f9f0f6;
	background-color: #fc3936;
	font-size: 80%;
	padding-top: 10%;
	placeholder-color: #470d6f;
}

Indicator {
	color: #FF8C00;
	height: 10mm;
	width: 10mm;
}

CssIndicator {
	color: #0a3a6d;
	height: 20mm;
	width: 20mm;
}

DockLayout {
width: 100%;
	height: 10%;
    margin-top: 10%;
    background-color:#000;
	}

MemoEdit {
	width: 100%;
	height: 5mm;
        margin-top:2%;
	color:  #2f2f2f;
	background-color: #ffff00;
	font-size: 80%;
	padding-top: 10%;
	placeholder-color: #ffffff;
}

CssMemoEdit {
    
    width: 100%;
	height: 5mm;
     margin-top:2%;
	color: #f9f0f6;
	background-color: #fc3936;
	font-size: 80%;
	padding-top: 10%;
	placeholder-color: #470d6f;
}